@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Google Sans', 'Inter', system-ui, sans-serif;
    color: #121217;
    background-color: #F7F7F8;
  }
  .tabular {
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';
  }
}
